<div id="venue"></div>
<div class="venue-wrapper grey-bg">
  <div class="title-block">
    <h1 class="lang en bold red">FAQ</h1>
    <h1 class="lang ja bold red">FAQ（よくある質問）</h1>
    <h3 class="lang en" style="font-family: sans-serif !important;"><strong>Q. Is there is kids support or kids room?</strong></h3>
    <h3 class="lang ja" style="font-family: sans-serif !important;"><strong>Q. 託児所はありますか？</strong></h3>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="lang en text-left">
            <strong>Update 2020/02/14 11:45 JST</strong>：Given the case of coronavirus, we determined that providing a day care center in a place where attendees gather was a high risk and decided to discontinue the provision. We're sorry.<br /><br />
            <s>Yes, however it is only Feb. 29th. <a href="https://forms.gle/PD9ML8V2urEq5qwr8" target="_blank">You can apply it from this form until Fech 14th</a>. Please note that children under the age of one cannot be used. No child tickets are required.</s>
          </p>
          <p class="lang ja text-left">
            <strong>2020/02/14 11:45更新</strong>：コロナウィルスの件があり、集団が集まる場所での託児所提供はリスクが大きいと判断し、提供を取りやめることとしました。申し訳ありません。<br /><br />
            <s>はい。29日（土）のみ用意します。<a href="https://forms.gle/PD9ML8V2urEq5qwr8" target="_blank">利用される際にはこちらのフォームからお申し込みください（申し込みは2月14日（金）まで）</a>。なお、1歳未満のお子様は利用できませんのでご注意ください。お子様のチケットは不要です。</s>
          </p>
        </div>
      </div>
    </div>
    <h3 class="lang en" style="font-family: sans-serif !important;"><strong>Q. What language providing in the session?</strong></h3>
    <h3 class="lang ja" style="font-family: sans-serif !important;"><strong>Q. セッションの言語は何ですか？</strong></h3>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="lang en text-left">
            Every sessions are in English.
          </p>
          <p class="lang ja text-left">
            全セッション英語になります。なお、システム翻訳による日本語訳を表示予定です。
          </p>
        </div>
      </div>
    </div>
    <h3 class="lang ja" style="font-family: sans-serif !important;"><strong>Q. 請求書払いに対応していますか？</strong></h3>
    <div class="container lang ja">
      <div class="row">
        <div class="col-md-12">
          <p class="lang ja text-left">
            はい。対応しています。<a href="https://forms.gle/BLkjPqSTfC4JPt5t7" target="_blank">こちらのフォームよりお申し込みください</a>。チケット1枚から申し込み可能です。複数枚購入で割引があります。
          </p>
        </div>
      </div>
    </div>
    <h3 class="lang en" style="font-family: sans-serif !important;"><strong>Q. May I request special meal?</strong></h3>
    <h3 class="lang ja" style="font-family: sans-serif !important;"><strong>Q. ランチの特別リクエストは可能ですか？</strong></h3>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="lang en text-left">
            Request about allergies, religious reasons, vegetarians, etc. <a href="https://forms.gle/e5k5w9oxSCkwPPAB8" target="_blank">Please contact us using this form</a>.
          </p>
          <p class="lang ja text-left">
            アレルギーや宗教上の事由、ベジタリアンなど食事に関する<a href="https://forms.gle/e5k5w9oxSCkwPPAB8" target="_blank">リクエストはこちらのフォームよりご連絡ください</a>。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>