<div id="schedule"></div>
<div class="title-block">
  <div class="container schedule-container">
    <h1 class="bold red">Schedule</h1>
    <p>What’s on and when.</p>
  </div>
</div>


<!-- ================================================

  Tabs

==================================================-->


<div class="schedule-wrapper">
  <div class="container">

    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="unconf-tab" data-toggle="tab" href="#unconf" role="tab" aria-controls="unconf" aria-selected="false">
          <h3>Business Day</h3>
          <p class="photo-credit">28th February, 2019</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="conf-tab" data-toggle="tab" href="#conf" role="tab" aria-controls="conf" aria-selected="true">
          <h3>Developer Day</h3>
          <p class="photo-credit">29th February, 2019</p>
        </a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">


      <!-- ================================================

        Unconference

      ==================================================-->


      <div class="tab-pane fade" id="unconf" role="tabpanel" aria-labelledby="unconf-tab">
        
        <div class="schedule-single-row">
          <div class="row">
            <div class="col-md-2"><p class="red medium">08:15</p></div>
            <div class="col-md-10"><p class="medium">Registration</p></div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="schedule-title-row col-md-12"><p class="medium">Room name 1</p></div>
          </div>
        </div>

        <div class="schedule-block">
          <div class="row">
            <div class="col-md-2"><p class="red medium">09:20</p></div>
            <div class="col-md-7">
              <p class="medium photo-credit">Welcome</p>
              <p>Name, <a href="#">Company</a></p>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
              <div class="profile-image">
                <img src="/assets/img/speakers/speaker-female.jpg" alt="Speaker name">
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2"><p class="red medium">09:20</p></div>
            <div class="col-md-7">
              <p class="medium photo-credit">Welcome</p>
              <p>Name, <a href="#">Company</a></p>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
              <div class="profile-image">
                <img src="/assets/img/speakers/speaker-male.jpg" alt="Speaker name">
              </div>
              <div class="profile-image">
                <img src="/assets/img/speakers/speaker-female.jpg" alt="Speaker name">
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2"><p class="red medium">09:20</p></div>
            <div class="col-md-7">
              <p class="medium photo-credit">Welcome</p>
              <p>Name, <a href="#">Company</a></p>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
              <div class="profile-image">
                <img src="/assets/img/speakers/speaker-female.jpg" alt="Speaker name">
              </div>
              <div class="profile-image">
                <img src="/assets/img/speakers/speaker-male.jpg" alt="Speaker name">
              </div>
              <div class="profile-image">
                <img src="/assets/img/speakers/speaker-female.jpg" alt="Speaker name">
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="schedule-title-row col mr-2">
              <p class="medium" style="float:left">Room name 1</p>
              <div class="tag" style="float:right">Title</div>
            </div>
            <div class="schedule-title-row2 col ml-2">
              <p class="medium" style="float:left">Room name 2</p>
              <div class="tag" style="float:right">Title</div>
            </div>
          </div>
        </div>

        <div class="schedule-time-row">
          <div class="row">
            <div class="col-md-12"><p class="red medium">08:15</p></div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="schedule-split-row col mr-2">
              <div style="float:left">
                <p class="medium photo-credit">Welcome</p>
                <p>Name, <a href="#">Company</a></p>
              </div>
              <div class="profile-image" style="float:right">
                <img src="/assets/img/speakers/speaker-male.jpg" alt="Speaker name">
              </div>
            </div>
            <div class="schedule-split-row col ml-2">
              <div style="float:left">
                <p class="medium photo-credit">Welcome</p>
                <p>Name, <a href="#">Company</a></p>
              </div>
              <div class="profile-image" style="float:right">
                <img src="/assets/img/speakers/speaker-female.jpg" alt="Speaker name">
              </div>
              <div class="profile-image" style="float:right">
                <img src="/assets/img/speakers/speaker-male.jpg" alt="Speaker name">
              </div>
            </div>
          </div>
        </div>

         <div class="schedule-time-row">
          <div class="row">
            <div class="col-md-12"><p class="red medium">08:15</p></div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="schedule-split-row col mr-2">
              <div style="float:left">
                <p class="medium photo-credit">Welcome</p>
                <p>Name, <a href="#">Company</a></p>
              </div>
              <div class="profile-image" style="float:right">
                <img src="/assets/img/speakers/speaker-female.jpg" alt="Speaker name">
              </div>
              <div class="profile-image" style="float:right">
                <img src="/assets/img/speakers/speaker-male.jpg" alt="Speaker name">
              </div>
              <div class="profile-image" style="float:right">
                <img src="/assets/img/speakers/speaker-female.jpg" alt="Speaker name">
              </div>
            </div>
            <div class="schedule-split-row col ml-2">
              <div style="float:left">
                <p class="medium photo-credit">Welcome</p>
                <p>Name, <a href="#">Company</a></p>
              </div>
              <div class="profile-image" style="float:right">
                <img src="/assets/img/speakers/speaker-male.jpg" alt="Speaker name">
              </div>
              <div class="profile-image" style="float:right">
                <img src="/assets/img/speakers/speaker-female.jpg" alt="Speaker name">
              </div>
            </div>
          </div>
        </div>

      </div>


      <!-- ================================================

        Conference

      ==================================================-->

      <div class="tab-pane fade  show active" id="conf" role="tabpanel" aria-labelledby="conf-tab">
        
        <div class="schedule-single-row">
          <div class="row">
            <div class="col-md-2"><p class="red medium">08:15</p></div>
            <div class="col-md-10"><p class="medium">Registration</p></div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="schedule-title-row col-md-12"><p class="medium">Room name 1</p></div>
          </div>
        </div>

        <div class="schedule-block">
          <div class="row">
            <div class="col-md-2"><p class="red medium">09:20</p></div>
            <div class="col-md-7">
              <p class="medium photo-credit">Welcome</p>
              <p>Name, <a href="#">Company</a></p>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
              <div class="profile-image">
                <img src="/assets/img/speakers/speaker-female.jpg" alt="Speaker name">
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2"><p class="red medium">09:20</p></div>
            <div class="col-md-7">
              <p class="medium photo-credit">Welcome</p>
              <p>Name, <a href="#">Company</a></p>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
              <div class="profile-image">
                <img src="/assets/img/speakers/speaker-male.jpg" alt="Speaker name">
              </div>
              <div class="profile-image">
                <img src="/assets/img/speakers/speaker-female.jpg" alt="Speaker name">
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2"><p class="red medium">09:20</p></div>
            <div class="col-md-7">
              <p class="medium photo-credit">Welcome</p>
              <p>Name, <a href="#">Company</a></p>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
              <div class="profile-image">
                <img src="/assets/img/speakers/speaker-male.jpg" alt="Speaker name">
              </div>
              <div class="profile-image">
                <img src="/assets/img/speakers/speaker-female.jpg" alt="Speaker name">
              </div>
              <div class="profile-image">
                <img src="/assets/img/speakers/speaker-male.jpg" alt="Speaker name">
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="schedule-title-row col mr-2">
              <p class="medium" style="float:left">Room name 1</p>
              <div class="tag" style="float:right">Title</div>
            </div>
            <div class="schedule-title-row2 col ml-2">
              <p class="medium" style="float:left">Room name 2</p>
              <div class="tag" style="float:right">Title</div>
            </div>
          </div>
        </div>

        <div class="schedule-time-row">
          <div class="row">
            <div class="col-md-12"><p class="red medium">08:15</p></div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="schedule-split-row col mr-2">
              <div style="float:left">
                <p class="medium photo-credit">Welcome</p>
                <p>Name, <a href="#">Company</a></p>
              </div>
              <div class="profile-image" style="float:right">
                <img src="/assets/img/speakers/speaker-female.jpg" alt="Speaker name">
              </div>
            </div>
            <div class="schedule-split-row col ml-2">
              <div style="float:left">
                <p class="medium photo-credit">Welcome</p>
                <p>Name, <a href="#">Company</a></p>
              </div>
              <div class="profile-image" style="float:right">
                <img src="/assets/img/speakers/speaker-male.jpg" alt="Speaker name">
              </div>
              <div class="profile-image" style="float:right">
                <img src="/assets/img/speakers/speaker-female.jpg" alt="Speaker name">
              </div>
            </div>
          </div>
        </div>

         <div class="schedule-time-row">
          <div class="row">
            <div class="col-md-12"><p class="red medium">08:15</p></div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="schedule-split-row col mr-2">
              <div style="float:left">
                <p class="medium photo-credit">Welcome</p>
                <p>Name, <a href="#">Company</a></p>
              </div>
              <div class="profile-image" style="float:right">
                <img src="/assets/img/speakers/speaker-male.jpg" alt="Speaker name">
              </div>
              <div class="profile-image" style="float:right">
                <img src="/assets/img/speakers/speaker-female.jpg" alt="Speaker name">
              </div>
              <div class="profile-image" style="float:right">
                <img src="/assets/img/speakers/speaker-male.jpg" alt="Speaker name">
              </div>
            </div>
            <div class="schedule-split-row col ml-2">
              <div style="float:left">
                <p class="medium photo-credit">Welcome</p>
                <p>Name, <a href="#">Company</a></p>
              </div>
              <div class="profile-image" style="float:right">
                <img src="/assets/img/speakers/speaker-female.jpg" alt="Speaker name">
              </div>
              <div class="profile-image" style="float:right">
                <img src="/assets/img/speakers/speaker-male.jpg" alt="Speaker name">
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
