{% assign speaker = site.data.sessions | where: "id", page.id %}
{% assign speaker = speaker[0] %}
<div class="intro">
  <div class="container">
    <div class="row d-flex align-items-center" style="padding-bottom:100px;padding-top:80px;">
      <div class="col-lg-4">
        <div class="speaker-image">
          <img src="/assets/img/speakers/{{ speaker.id }}.jpg">
        </div>
      </div>
      <div class="col-lg-8">
        <h1 class="lang en">{{ speaker.name_en }}</h1>
        <h1 class="lang ja">{{ speaker.name_ja }}</h1>
        <p class="photo-credit lang en">
          {{ speaker.speaker_title_en }}
        </p>
        <p class="photo-credit lang ja">
          {{ speaker.speaker_title_ja }}
        </p>
        <p class="bold photo-credit lang en">
          {{ speaker.company_en }}
        </p>
        <p class="bold photo-credit lang ja">
          {{ speaker.company_ja }}
        </p>
        <p class="mt-5 lang en">
          {{ speaker.profile_en | markdownify | replace: "<p>" "<p class='lang en'>" }}
        </p>
        <p class="mt-5 lang ja">
          {{ speaker.profile_ja | markdownify | replace: "<p>" "<p class='lang ja'>" }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="grey-bg" style="padding-top:100px;padding-bottom:100px;">
  <div class="container">
    <div class="col-lg-12">
      <h2 class="red-text lang en">
        {{ speaker.title_en }}
      </h2>
      <h2 class="red-text lang ja">
        {{ speaker.title_ja }}
      </h2>
    </div>
    <div class="col-lg-12">
      <h3 class="lang en">Talk description</h3>
      <h3 class="lang ja">トーク概要</h3>
      <p class="lang en">{{ speaker.description_en | markdownify | replace: "<p>" "<p class='lang en'>" }}</p>
      <p class="lang ja">{{ speaker.description_en | markdownify | replace: "<p>" "<p class='lang ja'>" }}</p>
    </div>
  </div>
</div>

<!--
<div style="padding-top:100px;padding-bottom:100px;">
  <div class="container">
    <div class="col-lg-12">
      <h3>Links</h3>
      <p><a href="#">Twitter</a></p>
    </div>
  </div>
</div>
-->