<div id="speakers"></div>
<div class="title-block  grey-bg">
  <h1 class="lang en bold red">Ticket</h1>
  <h1 class="lang ja bold red">チケット</h1>
  <p class="lang en">The amazing speakers at DevRelCon Tokyo 2020. We'll be announced more. Stay tuned!</p>
  <p class="lang ja">DevRelCon Tokyo 2020の素晴らしいスピーカーです。さらにアナウンスされます。乞うご期待！</p>
</div>

<div class="speaker-wrapper  grey-bg">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 text-center">
        <div class="devrel-button buy lang en DevRelCon-button blue">
          <a href="https://ti.to/devrelcon-tokyo/2020" target="_blank">
            Buy ticket <i class="fa fa-long-arrow-right"></i>
          </a>
        </div>
        <h4 class="lang ja">英語（ti.to）</h4>
        <div class="devrel-button buy lang ja DevRelCon-button blue">
          <a href="https://ti.to/devrelcon-tokyo/2020" target="_blank">
            チケットを買う（クレジットカード/PayPal） <i class="fa fa-long-arrow-right"></i>
          </a>
        </div>
        <div class="lang ja">
        <br />
        <br />
        </div>
        <h4 class="lang ja">日本語（Peatix）</h4>
        <div class="devrel-button buy lang ja DevRelCon-button blue">
          <a href="https://devrelcon-tokyo-2020.peatix.com/view" target="_blank">
            チケットを買う（クレジットカード/コンビニ/銀行振込） <i class="fa fa-long-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
